<%= render 'shared/sidebar' %>
<div class="container-templates">
  <h2>Resultados das Avaliações</h2>
  <% if current_user.admin? %>
    <%= link_to 'Criar Novo Formulário', new_formulario_path, class: 'btn btn-primary mb-3' %> 
    <% if @formularios.any? %>
      <div class="row">
        <% @formularios.each do |formulario| %>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= formulario.template.nomeTemplate %></h5>
                <p class="card-text">Data de Criação: <%= formulario.dataCriacao.strftime('%d/%m/%Y') %></p>
                <p class="card-text">Tipo de Destinatário: <%= formulario.tipoDestinatario %></p>
                <%= link_to "Ver Detalhes", formulario_path(formulario), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-info text-center">
        <p>Sem formulários disponíveis</p>
      </div>
    <% end %>

  <% else %>
    <% if @formularios.any? %>
      <div class="row">
        <% @formularios.each do |formulario| %>
          <div class="col-md-4">
            <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title"><%= formulario.template.nomeTemplate %></h5>
                <p class="card-text">Data de Criação: <%= formulario.dataCriacao.strftime('%d/%m/%Y') %></p>
                <p class="card-text">Tipo de Destinatário: <%= formulario.tipoDestinatario %></p>
                <%= link_to "Ver Detalhes", formulario_path(formulario), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-info text-center">
        <p>Sem formulários disponíveis</p>
      </div>
    <% end %> 

  <% end %>
</div>